body{
    background-image: url(images/7680x4320-black-solid-color-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
      
      
     
}
header{
    
    position: relative;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: #FF5722;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    text-shadow: 3px 3px 3px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 95%;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    
  }
  #logo{
    width: 80px;
  }
  h3{
    color: whitesmoke;
    text-align: center;
    text-shadow: -3px -1px 2px black;
  }

#carousel1{
    max-height: 700px;
    max-width: 100%;
    position: relative;
    
    
    
}
.carousel-item img{
    height: 650px;
    width: 100%;
    align-items: center;
    text-align: center;
    object-fit: cover;
    opacity: 0.99;

}

footer{
    bottom: 0;
    font-size: 20px;
    background-color: black;
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    color: #f1f1f1;
    text-align: center;
    position: relative;
    padding: 8px;

    
    
  
}

form {
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bolder;
}
label{
  font-size: 20px;
  color: #f1f1f1;
margin-top: 30px;
  
}




input{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 250px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}
input:hover{
  
  width: 350px;
  border-color: aqua;
  transition: 0.15s;

}

input:active{

  width: 350px;
  border-color: orange;
  
  
}







#sid{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 250px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}
#sid:hover{
  
  width: 350px;
  border-color: aqua;
  transition: 0.15s;

}

#sid:active{

  width: 350px;
  border-color: orange;
  
  
}

#form_title{

  
    color: #FF5722;
    font-weight: bold;
    
    
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    
    
    width: 95%;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}







#fname{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 250px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}
#fname:hover{
  
  width: 350px;
  border-color: aqua;
  transition: 0.15s;

}

#fname:active{

  width: 350px;
  border-color: orange;
  
  
}

#lname{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 250px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}
#lname:hover{
  
  width: 350px;
  border-color: aqua;
  transition: 0.15s;

}

#lname:active{

  width: 350px;
  border-color: orange;
  
  
}

#birthday{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 160px;
    padding: 10px;
    border-color: whitesmoke;
    background-color: #FF5722;

    color: black;
}
#gender{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 100px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}

#Classes{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    height: 35px;
    width: 250px;
    border-color: #FF5722;
    background-color: #0f0f0f;
    color: whitesmoke;
    padding-left: 20px;
}

textarea{
  border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    
    border-color: #FF5722;
    background-color: #000000;
    color: whitesmoke;
    
}



#submit{

  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  width: 90px;
  border-color: black;
  background-color: #22c0ff;
  color: whitesmoke;
  
text-align: center;
margin-top: 50px;
}

hr{
  color: whitesmoke;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
	height: 300px;
	object-fit: cover;
  margin-top: 30px;
}

.card-title {
	font-size: 1.5em;
	margin-top: 1em;
  
}

.card-text {
	margin-bottom: 1em;
}

.card-price {
	font-size: 1.2em;
	font-weight: bold;
	color: green;
	margin-bottom: 1em;
}

